.container {
    width: 100%;
    max-width:968px;
    margin: 0 auto;
}
h1 {
    width: 80%;
    margin: 0.67em auto;
    text-align: center;
}
p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.input-group {
    width: 80%;
    margin: 0 auto;
}
.input-default {
    width: 100%;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    /*padding: 10px 16px;*/
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.input-default:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.input-group .danger {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
}
.btn-default {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    /*border: 1px solid #4cae4c;*/
    background-color: #5cb85c;
    color: #fff;
    /*padding: 10px 16px;*/
}
.btn-default:hover {
    background-color: #449d44;
    border-color: #398439;
}
.btn-default:active {
    background-color: #468C46;
    border-color: #398439;
}
/* check how this works
input[type="checkbox"]:required:invalid + label { color: red; }
input[type="checkbox"]:required:valid + label { color: green; }
*/